


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mobarak  </title>
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css/owl.transitions.css" rel="stylesheet">
    <link href="~/Content/css/cs-select.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="~/Content/css/freepik.hotels.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

    <script src="~/Content/js/modernizr.custom.min.js"></script>
</head>
<body>
    <input type="hidden" id="HServicesURL" value="@System.Configuration.ConfigurationManager.AppSettings["ServerIp"]" />


    <!-- Menu and Search Button -->


    @{
        Html.RenderPartial("_HeaderNavBar");
    }






    <!-- Loaded Body Content   -->
    <div id="divContent">
        @RenderBody()
    </div>







    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jssor.slider.mini.js"></script>
    <script src="~/Content/js/classie.js"></script>
    <script src="~/Content/js/selectFx.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/starrr.min.js"></script>
    <script src="~/Content/js/nivo-lightbox.min.js"></script>
    <script src="~/Content/js/jquery.shuffle.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/Content/js/gmaps.min.js"></script>
    <script src="~/Content/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/Content/js/script.js"></script>


    @*<script src="~/Content/js/jquery.localstorage.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/jasmine.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/jasmine-html.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/boot.js"></script>*@






    @{
        Html.RenderPartial("_Footer");
    }


    @*@{Html.RenderAction("Footer", "Home");}*@
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @*<script type="text/javascript">


        // unblock when ajax activity stops
        $(document).ajaxStop($.unblockUI);

        function test() {
            $.ajax({ url: 'wait.php', cache: false });
        }

        $(document).ready(function() {
            $('#pageDemo1').click(function() {
                $.blockUI();
            });
            $('#pageDemo2').click(function() {
                $.blockUI({ message: '<h1><img src="/Content/images/Preloader_7.gif" /> Just a moment...</h1>' });
            });
            $('#pageDemo3').click(function() {
                $.blockUI({ css: { backgroundColor: '#f00', color: '#fff' } });
            });

            $('#pageDemo4').click(function() {
                $.blockUI({ message: $('#domMessage') });
            });
        });

        </script>*@
    @*<script type="text/javascript">


        $(document).ajaxStop(function () {
            console.debug("ajaxStop");
            $("#ajax_loader").hide();
        });
        $(document).ajaxStart(function () {
            console.debug("ajaxStart");
            $("#ajax_loader").show();
        });
        $('#btnStart').click(function (e) {
            console.debug("click start");
            jQuery.event.trigger("ajaxStart");
            e.preventDefault();
        });
        $('#btnStop').click(function (e) {
            console.debug("click stop");
            jQuery.event.trigger("ajaxStop");
            e.preventDefault();
        });

        </script>*@
    <script type="text/javascript">

        $(document).ready(function () {
            var apiUrl = document.querySelector('#HServicesURL').value;

            //$.blockUI({
            //    css: {
            //        position: 'fixed',
            //        top: '0',
            //        left: '0',
            //        'z-index': '999999',
            //        width: '100%',
            //        height: '100%',
            //        'background-color': '#fff',
            //        'background-image': 'url(/Content/images/Preloader_7.gif)',
            //        'background-repeat': 'no-repeat',
            //        'background-position': 'center center'
            //    }
            //});
            //$.getJSON("http://localhost:2798/File/Home.json", function (json) {
            //    console.log(json); // this will show the info it in firebug console
            //});
            $.ajax({
                url: apiUrl + "/SystemParameters/Hotels/GetAll",
                type: "Get",
                success: function (data) {
                    var list = []; 
                    if (data.length === 0) {
                        document.getElementById("hotelMenu").style.display = "none";

                    }
                    for (var i = 0; i < data.length; i++) {
                        $(
                            "<li>" +
                            "<a href='/Hotel/Details/" + data[i].Id + "'>" + data[i].DisplayValue + "</i></a>"


                        ).appendTo("#ulAllHotels");
                        //  var result = $.localStorage('hotelId', data[i].Id);
                        list.push(data[i].Id);
                    }
                    // $.localStorage('listlist', list);


                    //  var value = $.localStorage('hotelList');
                    //for (var i = 0; i < value.length; i++) {
                    //  //  console.log(value[i].DisplayValue);
                    //  //  $.localStorage('hotelListRead', value[i].DisplayValue);
                    //}
                    // unblock when ajax activity stops
                    $(document).ajaxStop($.unblockUI);
                },
                error: function (msg) {
                    // alert("hotel error");
                }
            });


            /*load footer data*/
            $.ajax({
                url: apiUrl + "/SystemParameters/ContactUs/GetAll",
                type: "Get",
                success: function (data) {
                    $(
                        "<p>" + data.DisplayValueAddress + "</p>"
                     ).appendTo("#divAddress");
                    $(
                        "<p>" + data.PhoneNo1 + "<br>" + data.PhoneNo2 + "</p>"
                     ).appendTo("#divphones");
                    $(
                        "<p>" +
                        "<a href='mailto:#'>" + data.Mailbox + "</i>"
                       + "</p>"
                    ).appendTo("#divmail");

                    $(
                        "<li>" + "<a href='" + data.Facebook + "'>" + "<i class='fa fa-facebook'></i>" + "</i></a>"
                        + "<li>" + "<a href='" + data.Twitter + "'>" + "<i class='fa fa-twitter'></i>" + "</i></a>"
                        + "<li>" + "<a href='" + data.Instgram + "'>" + "<i class='fa fa-pinterest'></i>" + "</i></a>"
                        + "<li>" + "<a href='" + data.Snapchat + "'>" + "<i class='fa fa-google-plus'></i>" + "</i></a>"
                        + "<li>" + "<a href='" + data.Youtube + "'>" + "<i class='fa fa-rss'></i>" + "</i></a>"
                    ).appendTo("#divsocial");



                },
                error: function (msg) {
                    alert("error footer");
                }
            });

        });


    </script>

</body>
</html>
