@model GMG_Portal.API.Models.SystemParameters.Career

@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="mg-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-booking-form">



                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="select-room">
                            <div class="mg-saerch-room">
                                <div class="mg-book-now mt80">
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <h2 class="mg-bn-title">
                                                Careers <span class="mg-bn-big">Hospitality and Administartion</span>
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="mg-available-rooms">
                                <h2 class="mg-sec-left-title">Current Postions</h2>
                                <div class="mg-avl-rooms">
                                    <div class="mg-avl-room">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                         
                                                <div class="col-md-9">
                                                    <h3 class="mg-avl-room-title"> @Model.DisplayValue </h3>

                                                    <p>@Model.DisplayValueDesc.</p>

                                                    
                                                </div>

                                             
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>