<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gmgportal-stag.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gmgportal-stag.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gmgportal-stag</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gmgportal-stag</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GMG_Portal_DBEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=gmg.database.windows.net;Initial Catalog=GMG_PORTAL_STAG;Persist Security Info=True;User ID=gmg_admin;Password=gCv3XfIkABJWl2hK;Application Name=EntityFramework" Name="Data Source=gmg.database.windows.net;Initial Catalog=GMG_PORTAL_STAG;Persist Security Info=True;User ID=gmg_admin;Password=gCv3XfIkABJWl2hK;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GMG_Portal.Data.GMG_Portal_DBEntities1, GMG_Portal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GMG_Portal_DBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Portal_Model.csdl|res://*/Portal_Model.ssdl|res://*/Portal_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=gmg.database.windows.net;Initial Catalog=GMG_PORTAL_STAG;Persist Security Info=True;User ID=gmg_admin;Password=gCv3XfIkABJWl2hK;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>