
<div class="mg-about-testimonial parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>Leadership</h2>
                    <p>Here are the Visionary Minds Behind our Success</p>
                </div>
                <div class="mg-testimonial-slider" id="mg-testimonial-slider">
                @{ 
                    for (var i = 1; i < Model.Owners.Count; i++)
                    {
                     <blockquote>
                        <p>@Model.owners[i].DisplayValue</p>
                        <footer>@Model.owners[i].DisplayValue</footer>
                    </blockquote>
                    }
                } 
                </div>
            </div>
        </div>
    </div>
</div>