 <!-- start section -->
<section class="light-backgorund">
    <div class="container-fluid">
        <div class="row grid-space-0">
            <div class="col-sm-12">
                <div class="owl-carousel slider owl-theme owl-loaded owl-drag">
                    <!-- end item -->
                    <!-- end item -->
                    <!-- end item -->
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 4047px;">
                            <div class="owl-item active" style="width: 1349px;">
                                <div>
                                    <figure>
                                        <a href="javascript:void(0);">
                                            <img src="~/Content_Customer/assets/img/slider_10_h400.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1349px;">
                                <div>
                                    <figure>
                                        <a href="javascript:void(0);">
                                            <img src="~/Content_Customer/assets/img/slider_08_h400.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1349px;">
                                <div>
                                    <figure>
                                        <a href="javascript:void(0);">
                                            <img src="~/Content_Customer/assets/img/slider_09_h400.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav"><div class="owl-prev disabled fa fa-angle-left"></div><div class="owl-next fa fa-angle-right"></div></div>
                    <div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div>
                </div><!-- end owl carousel -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->