<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="GMG_Portal_DBEntities" connectionString="metadata=res://*/Portal_Model.csdl|res://*/Portal_Model.ssdl|res://*/Portal_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INTESHAARCAIROS;initial catalog=CRM_DB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="GMG_Portal_DBEntities" connectionString="metadata=res://*/Portal_Model.csdl|res://*/Portal_Model.ssdl|res://*/Portal_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INTESHAARCAIROS;initial catalog=CRM_DB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GMG_Portal_DBEntities" connectionString="metadata=res://*/Portal_Model.csdl|res://*/Portal_Model.ssdl|res://*/Portal_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.189.177.104;initial catalog=CRM_DB;persist security info=True;user id=Paymentsys;password=M2pRoy@l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GMG_Portal_DBEntities1" connectionString="metadata=res://*/Portal_Model.csdl|res://*/Portal_Model.ssdl|res://*/Portal_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9341RKA\SQLEXPRESS;initial catalog=GMG_Portal_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GMG_Portal_DBEntities" connectionString="metadata=res://*/Portal_Entities.csdl|res://*/Portal_Entities.ssdl|res://*/Portal_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9341RKA\SQLEXPRESS;initial catalog=GMG_Portal_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GMG_Portal_DBEntities1" connectionString="metadata=res://*/Portal_Model.csdl|res://*/Portal_Model.ssdl|res://*/Portal_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5024.smarterasp.net;initial catalog=DB_A1715B_gmglast;persist security info=True;user id=DB_A1715B_gmglast_admin;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GMG_Portal_DBEntities1" connectionString="metadata=res://*/Portal_Model.csdl|res://*/Portal_Model.ssdl|res://*/Portal_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gmg.database.windows.net;initial catalog=GMG_PORTAL_STAG;persist security info=True;user id=gmg_admin;password=gCv3XfIkABJWl2hK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="GMG_Portal_DBEntities1" connectionString="metadata=res://*/Portal_Model.csdl|res://*/Portal_Model.ssdl|res://*/Portal_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:gmg.database.windows.net,1433;initial catalog=GMG_PORTAL_STAG;user id=gmg_admin@gmg;password=gCv3XfIkABJWl2hK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>