
@using GMG_Portal.API.Models.SystemParameters
@model  List<Offer>
@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Latest Offers</h2>
                <p>Our Latest Offers.</p>
            </div>
        </div>
    </div>
</div>

<div class="mg-rooms-cols">
    <div class="container">
       
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i > 0 && i % 3 == 0)
                {
                    @:</div><div class="row"> 
                }
            
                <div class="col-sm-4">
                    <figure class="mg-room" style="    height: 194px;">
                        <img src="http://localhost:19056/Uploads/slide2.png" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>@Model[i].DisplayValue</h2>
                            <div class="mg-room-rating">@Model[i].Hotel_Id</div>
                            <div class="mg-room-price">@Model[i].Price<sup></sup></div>
                            <p>@Model[i].DisplayValueDesc.Substring(0,40) ..</p>
                            @*<a href="#" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="#" class="btn btn-main">Book</a>*@
                        </figcaption>			
                    </figure>
                </div>


            }  
        </div>
                
        
     

    </div>
</div>