
@{
    ViewBag.Title = "Owners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
            </div>
        </div>
    </div>
</div>
<div class="mg-team pb70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>Our Stuff</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="mg-team-member">
                    <figure>
                        <img src="images/member1.png" alt="" class="img-responsive">
                    </figure>
                    <div class="mg-team-member-overlayer"></div>
                    <div class="mg-team-info">
                        <h3>Joseph Gonzales</h3>
                        <strong>Manager</strong>
                        <ul class="mg-team-member-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="mg-team-member">
                    <figure>
                        <img src="images/member2.png" alt="" class="img-responsive">
                    </figure>
                    <div class="mg-team-member-overlayer"></div>
                    <div class="mg-team-info">
                        <h3>Joseph Gonzales</h3>
                        <strong>Manager</strong>
                        <ul class="mg-team-member-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="mg-team-member">
                    <figure>
                        <img src="images/member3.png" alt="" class="img-responsive">
                    </figure>
                    <div class="mg-team-member-overlayer"></div>
                    <div class="mg-team-info">
                        <h3>Joseph Gonzales</h3>
                        <strong>Manager</strong>
                        <ul class="mg-team-member-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="mg-team-member">
                    <figure>
                        <img src="images/member4.png" alt="" class="img-responsive">
                    </figure>
                    <div class="mg-team-member-overlayer"></div>
                    <div class="mg-team-info">
                        <h3>Joseph Gonzales</h3>
                        <strong>Manager</strong>
                        <ul class="mg-team-member-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

