@using GMG_Portal.API.Models.SystemParameters
@using GMG_Portal.API.Models.SystemParameters.ContactUs
@model  List<Owners>

@{
    ViewBag.Title = "Owners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Leadership</h2>
                <p>Here are the Visionary Minds Behind our Success</p>
            </div>
        </div>
    </div>
</div>
<div class="mg-team pb70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>Success Team</h2>
                    <p></p>
                </div>
            </div>
        </div>
        

        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i > 0 && i % 4 == 0)
                {
                    @:</div><div class="row"> 
                }
                <div class="col-md-3">
                    <div class="mg-team-member">
                        <figure>
                            <img src="http://localhost:19056/Uploads/Owners/@Model[i].Image" alt="" class="img-responsive" style="width: 262px;height: 262px;">
                        </figure>
                        <div class="mg-team-member-overlayer"></div>
                        <div class="mg-team-info">
                            <h3>@Model[i].DisplayValueName</h3>
                            <strong>@Model[i].DisplayValuePosition</strong>
                            <ul class="mg-team-member-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        

    </div>
</div>

