@model IEnumerable<GMG_Portal.API.Models.Hotels.Hotel.Hotels>


<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>All Rooms</h2>
                <p>Display all rooms in our hotels.</p>
            </div>
        </div>
    </div>
</div>

<div class="mg-page mg-available-rooms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @foreach (var hotel in Model)
            {
                    <div class="mg-avl-room">
                        <div class="row">
                            <div class="col-sm-5">
                                <a href="/Hotel/Details/@hotel.Id"><img src="http://localhost:19056/Uploads/@hotel.Image" alt="" style="height: 350px; width: 475px;" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <h3 class="mg-avl-room-title">
                                    <a href="/Hotel/Details/@hotel.Id">@hotel.DisplayValue</a> <span>$@hotel.PriceStart/Night</span>
                                </h3>
                                <p>@hotel.DisplayValueDesc</p>
                                <div class="row mg-room-fecilities">
                                    @for (int i = 0; i < hotel.FeaturesList.Count; i++)
                                    {
                                        if (i > 0 && i % 10 == 0)
                                        {
                                            @:</div><div class="row"> 
                                        }

                                        <div class="col-xs-6">
                                            <ul>
                                                <li><i class="@hotel.FeaturesList[i].Icon"></i> @hotel.FeaturesList[i].DisplayValue</li>
                                            </ul>
                                        </div>
                                    } 
                                </div>
                                <a href="/Hotel/Details/@hotel.Id" class="btn btn-dark ">View Details <i class="fa fa-angle-double-right"></i></a>
                                @*<a href="#" class="btn btn-main pull-right">Book Now</a>*@

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


